html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.navbar, footer {
    background-image: url("https://htmlcolorcodes.com/assets/images/html-color-codes-color-tutorials.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}


.logo {
    width:80px;
    margin:0;
}




/*.navbar, footer {
    background-image: url("https://htmlcolorcodes.com/assets/images/html-color-codes-color-tutorials.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}*/