@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to HP computer show</h1>
    <p>Click on <i><a asp-area="" asp-controller="ComputerOrders" asp-action="CreateNew">New Order</a> </i> to create new order </p>
</div>
