@model PladoHPComputerSets.Models.ViewModels.ComputerOrderStastisticsViewModel

@{
    ViewData["Title"] = "Show Stats";
    ComputerOrder first = Model.NotCompletedOrders.FirstOrDefault()??
                Model.CompletedOrders.FirstOrDefault()??
                new ComputerOrder();
}

<h1>Statistics</h1>

<h1>Completed <i>@Model.TotalCompletedOrders</i> out of <i>@Model.TotalOrders </i></h1>

<h2>Completed</h2>

<partial name="_TableView" model="Model.CompletedOrders" />

<h2>Incomplete</h2>

<partial name="_TableView" model="Model.NotCompletedOrders" />
